.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . ."
    ". . . box box box box box"
    ". . . box box box box box"
    "tag tag tag box box box box box"
    "tag tag tag box box box box box"
    ". . . box box box box box"
    "reservation reservation . box box box box box"
    ". . . . . . . .";
}

.box {
  grid-area: box;
  background-color: red;
}

.reservation {
  grid-area: reservation;
  background-color: green;
}

.tag {
  grid-area: tag;
  background-color: blue;
}
