/* .swiper {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
} */

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.rvcard-swiper {
  height: 80%;
  width: 300px;
}

.rv-sub-swiper {
  height: 20%;
  width: 300px;
  box-sizing: border-box;
  padding: 10px 0;
  /* width: 100%; */
}

.rv-sub-swiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.rv-sub-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.rvcard-swiper-slide img {
  border-radius: 10px;

  display: block;
  width: 300px;
  height: 180px;
  object-fit: cover;
}
.rv-sub-swiper img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
